body{
    background-color: antiquewhite;
}

.container{
    width: 300px;
    height: 300px;
    background-color: aqua;
}

.child{
    width: 300px;
    height: 200px;
    background-color: chocolate;
    transform: scale(.50, .70) rotate(45deg) translate(5%, 10%);
}