body{
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container{
    width: 300px;
    height: 300px;
    background-color: aqua;
    position: relative;
}

.scale{
    background-color: gray;
    width: 150px;
    height: 150px;
    transform: scale(.70, .70);
}

.rotate{
    background-color: darkorange;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
}

.translate{
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .child{
    width: 300px;
    height: 200px;
    background-color: chocolate;
    transform: scale(.50, .70) rotate(45deg) translate(5%, 10%);
} */